html, body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background: #fff0f5;
  color: #333;
  height: 100%;
  display: felx;
  felx-direction: clumn:
}

  main {
    felx: 1;
  }
header {
  background: #d291bc;
  color: white;
  padding: 20px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #ffe4e1;
  border-bottom: 2px solid #ffe4e1;
}

.hero {
  text-align: center;
  padding: 80px 20px;
}

.btn {
  display: inline-block;
  background: #d291bc;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  text-decoration: none;
  transition: background 0.3s;
}

.btn:hover {
  background: #a66ab9;
}

.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  gap: 20px;
}

.profile-pic {
  width: 200px;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
#typing-text::after {
  content: "|";
  animation: blink 0.8s infinite;
}

@keyframes blink {
  0%, 50% { opacity: 1; }
  50.01%, 100% { opacity: 0; }
}
footer {             
  left: 0;
  width: 100%;
  background: #d291bc;     /* Matchar din header */
  color: white;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p {
  margin: 0 20px;
  font-size: 14px;
}

.social-icons {
  margin-right: 20px;
}

.social-icons a {
  margin: 0 10px;
  display: inline-block;
}

.social-icons img {
  width: 24px;
  height: 24px;
  filter: brightness(0) invert(1); /* Gör ikoner vita */
  transition: transform 0.3s, filter 0.3s;
}

.social-icons img:hover {
  transform: scale(1.2);
  filter: brightness(1) invert(0); /* Gör hover mörkare */
}

